<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/utente/base" routerLinkActive="true">Menu Utente</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/utente/base/ordini" routerLinkActive="true">Ordini</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/utente/base/impostazioni" routerLinkActive="true">Impostazioni</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary my-2 my-sm-0" type="button" (click)="logOutUtente()">Log Out</button>
          </form>
        </div>
      </nav>
</div>

<div class="container">
    <div class="row mt-2">
        <div class="col">
            <h3>Lista degli Store</h3>
            <table class="table table-striped">
                <thead>
                    <th>Nome</th>
                    <th>Indirizzo</th>
                </thead>
                <tbody>
                    <tr *ngFor="let store of elencoStore">
                        <td><a haref="store/detail/{{store.nomeS}}">{{store.nomeS}}</a></td>
                        <td>{{store.indirizzo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
