<div class="container">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Login</h1>
            <h5>Accedi o registrati per continuare</h5>
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" [(ngModel)]="inputUsername"/>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" [(ngModel)]="inputPassword"/>
            </div>
            <div class="form-group text-right">
                <button type="button" (click)="registrazioneUtente()" id="bntRegistrazione" class="btn btn-primary">Sign Up</button>
                &nbsp;
                <button type="button" (click)="loginUtente()" id="bntRegistrazione" class="btn btn-primary">Login</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
