<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/utente/base" routerLinkActive="true">Menu Utente</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/utente/base/ordini" routerLinkActive="true">Ordini</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/utente/base/impostazioni" routerLinkActive="true">Impostazioni</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-primary my-2 my-sm-0" type="button" (click)="logOutUtente()">Log Out</button>
          </form>
        </div>
      </nav>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h3>Dettagli Utenza</h3>
            <div class="form-group row">
                <label for="inputUsername" class="col-md-2 col-form-label">Username:</label>
                <div class="col-md-8">
                    <input type="text" readonly class="form-control-plaintext" id="inputUsername" [(ngModel)]="inputUsername"/>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-warning btn-block btnModifica" (click)="modificaUtente()"><i class="fas fa-pen"></i></button> 
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-md-2 col-form-label">Password:</label>
                <div class="col-md-8">
                    <input type="text" readonly class="form-control-plaintext" id="inputPassword" [(ngModel)]="inputPassword"/>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-warning btn-block btnModifica" (click)="modificaUtente()"><i class="fas fa-pen"></i></button>
                </div>
            </div>
            <hr/>
            <h3>Elimina Utenza</h3>
            <button type="button" class="btn btn-danger btn-block" id="btnElimina" (click)="eliminaUtente()">Elimina Utenza</button>
        </div>
    </div>
</div>
